{% extends 'parent_template.html' %}
{% block title %}登录{% endblock %}
{% block content %}
<h1>登录</h1>
<form method="post">
    <p>
        <label for="username">用户名:</label>
        <input type="text" id="username" name="username" required>
    </p>
    <p>
        <label for="password">密码:</label>
        <input type="password" id="password" name="password" required>
    </p>
    <p>
        <button type="submit">登录</button>
    </p>
</form>
<p>没有账号？<a href="{{url_for('register')}}">立即注册</a> </p>
{% endblock %}